.inpa{
    height: 30px;
    padding: 10px;
    border: 2px solid lightblue ;
}

.btn{
    height: 50px;
    width: 100px;
    margin-left: 2%;
    color: black;
    background-color: lightblue;
}


.inpd{
    height: 30px;
    padding: 10px;
    border: 2px solid lightblue ;
    height: 100px;
    width: 150px;
}