h1{
    text-align: center;
}

.inpa{
    height: 30px;
    width: 18%;
    padding: 10px;
    border: 2px solid lightblue ;
    background-color: lightblue;
    color: black;
    margin-left: 32%;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    height: 50px;
    width: 100px;
    margin-left: 2%;
    color: black;
    background-color: lightblue;
}


.inpd{
    padding: 10px;
    margin-top: 2%;
    border: 2px solid lightblue ;
    height: 80%;
    width: 38%;
    background-color: lightblue;
    margin-left: 32%;
}

.gap{
    margin-top: 5%;
    color:darkcyan;
}


.rbtn{
    margin-left: 40%;
    height: 40px;
    width: 70px;
    color: black;
    background-color: lightblue;
}

.ebtn{
    margin-left: 2%;
    height: 40px;
    width: 70px;
    color: black;
    background-color: lightblue;
}